{% extends 'student/studentindex.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1">
    <tr>
      <th scope="row">Name</th>
      <td><label for="textfield"></label>
      <input type="text" name="textfield" id="textfield" /></td>
    </tr>
    <tr>
      <th scope="row">Email</th>
      <td><label for="textfield2"></label>
      <input type="text" name="textfield2" id="textfield2" /></td>
    </tr>
    <tr>
      <th scope="row">Phone</th>
      <td><label for="textfield3"></label>
      <input type="text" name="textfield3" id="textfield3" /></td>
    </tr>
    <tr>
      <th scope="row">Course</th>
      <td><label for="select"></label>
        <select name="select" id="select">
             {% for i in data %}
          <option value="{{ i.course_id }}">{{ i.course_name }}</option>
          {% endfor %}
      </select></td>
    </tr>
    <tr>
      <th scope="row">Semester</th>
      <td><label for="select2"></label>
        <select name="select2" id="select2">
            <option>semester 1</option>
            <option>semester 2</option>
            <option>semester 3</option>
            <option>semester 4</option>
            <option>semester 5</option>
            <option>semester 6</option>
      </select></td>
    </tr>
    <tr>
      <th scope="row">Batch</th>
      <td><label for="select3"></label>
        <select name="select3" id="select3">
            <option>Batch 2018</option>
            <option>Batch 2019</option>
            <option>Batch 2020</option>
            <option>Batch 2021</option>
            <option>Batch 2022</option>
            <option>Batch 2023</option>
      </select></td>
    </tr>
   <tr>
      <th scope="row">Password</th>
      <td><label for="textfield13"></label>
      <input type="text" name="textfield13" id="textfield13" /></td>
    </tr>
    <tr>
      <th colspan="2" scope="row"><input type="submit" name="button" id="button" value="REGISTER" /></th>
    </tr>
  </table>
</form>
</body>
</html>
{% endblock %}