{% extends 'student/studentindex.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">

<table class="table table-danger">
  <tr>
    <th scope="row">Sl.No</th>
    <td>Name</td>
    <td>Party</td>
    <td>Symbol</td>
    <td>&nbsp;</td>
  </tr>
    {%  for i in data %}
  <tr>

    <td>{{ loop.index }}&nbsp;</td>
    <td>&nbsp;{{ i.name }}</td>
    <td>&nbsp;{{ i.party }}</td>
      <td>&nbsp;<img src="{{ i.symbol }}" height="100" width="100" alt=""/></td>
    <td><a href="/vote3/{{ i.candidate_id }}"class="btn btn-success">Vote</a></td>
  </tr>
    {% endfor %}
</table>
</form>
</body>
</html>
{% endblock %}