<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<table width="200" border="1">
  <tr>
    <th scope="row"><a href="add_department">Add Department</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="view_department">View Department</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="add_course">Add Course</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="view_course">View Course</a></th>
  </tr>
{#  <tr>#}
{#    <th scope="row"><a href="add_student">Add student</a></th>#}
{#  </tr>#}
{#  <tr>#}
{#    <th scope="row"><a href="edit_student">Edit Student</a></th>#}
{#  </tr>#}
  <tr>
    <th scope="row"><a href="view_student">View Student</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="add_election">Add Election</a></th>
  </tr>
{#  <tr>#}
{#    <th scope="row"><a href="edit_election">Edit Election</a></th>#}
{#  </tr>#}
  <tr>
    <th scope="row"><a href="view_election">View Election</a></th>
  </tr>
{#  <tr>#}
{#    <th scope="row"><a href="add_post">Add post</a></th>#}
{#  </tr>#}
  <tr>
    <th scope="row"><a href="view_post">View post</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="add_notification">Add Notification</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="view_notification">View Notification</a></th>
  </tr>
{#  <tr>#}
{#    <th scope="row"><a href="view_applied_candidates">View Applied Candidates</a></th>#}
{#  </tr>#}
{#  <tr>#}
   <th scope="row"><a href="approve_candidate">Approve Candidates</a></th>
 </tr>
  <tr>
    <th scope="row"><a href="change_password">Change Password</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="view_live_result">View Live Result</a></th>
  </tr>
    <tr>
    <th scope="row"><a href="/logout">logout</a></th>
  </tr>
</table>
</body>

</html>
