{% extends 'admin/adminindex.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table class="table table-danger">
    <tr>
      <th scope="col">Sl.No</th>
      <th scope="col">Course Name</th>
      <th scope="col">Department</th>
      <th scope="col">&nbsp;</th>
      <th scope="col">&nbsp;</th>
    </tr>
       {% for i in data %}
    <tr>
      <td>{{ loop.index }}</td>
      <td>{{ i.course_name }}</td>
      <td>{{ i.dep_name }}</td>
      <td><a href="/edit_course/{{ i.course_id }}#a">Edit</a></td>
      <td><a href="/delete_course/{{ i.course_id }}#a">Delete</a></td>
    </tr>
       {% endfor %}
  </table>

</form>
</body>
</html>
{% endblock %}