
{% extends 'admin/adminindex.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
</form>
<table class="table table-danger">
  <tr>
    <th scope="col">Sl.No</th>
    <th scope="col">Name</th>
    <th scope="col">Phone</th>
{#    <th scope="col">Course</th>#}
    <th scope="col">Semester</th>
    <th scope="col">Party</th>
    <th scope="col">symbol&nbsp;</th>
  </tr>
     {% for i in data %}
  <tr>
    <td>{{ loop.index }}</td>
    <td>&nbsp;{{ i.name }}</td>
    <td>&nbsp;{{ i.phone }}</td>
    <td>{{ i.party }}</td>
    <td><img src="{{ i.symbol }}" height="100" width="100" alt=""/></td>
    <td>
        {% if i.status=='pending'%}
    <a href="/approve_candidates/{{ i.candidate_id }}#a">Approve</a>
    <a href="/reject_candidates/{{ i.candidate_id }}#a">Reject</a>
      {% else %}
            <p>{{ i.status }}</p>
  {% endif %}
  </tr>
     {% endfor %}
</table>
</body>
</html>
{% endblock %}