{% extends 'admin/adminindex.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table class="table table-danger">
    <tr>
      <th scope="col">Sl.No</th>
      <th scope="col">Election Name</th>
      <th scope="col">Year</th>
      <th scope="col">&nbsp;</th>
      <th scope="col">&nbsp;</th>
      <th scope="col">&nbsp;</th>
    </tr>
      {%  for i in data %}
    <tr>
      <td>{{ loop.index }}</td>
      <td>&nbsp;{{ i.election_name }}</td>
      <td>{{ i.election_year }}</td>
      <td><a href="/delete_election/{{ i.election_id }}#a">Delete</a></td>
       {#  <td><a href="#">Edit</a></td>#}
        <td><a href="/edit_election/{{ i.election_id }}#a">Edit</a></td>
      <td><a href="/add_post/{{ i.election_id }}#a">Add Post</a></td>
      <td><a href="/view_live_result/{{ i.election_id }}#a">Live Result</a></td>
      <td><a href="/publish_result/{{ i.election_id }}#a">publish result</a></td>
    </tr>
      {%  endfor %}
  </table>
</form>
</body>
</html>
{% endblock %}