
{% extends 'admin/adminindex.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">

<table  class="table table-danger">
  <tr>
    <th scope="row">Election</th>
    <td><label for="select"></label>
      <select name="select" id="select" class="form-control" >
          {% for i in data %}
          <option value="{{ i.election_id }}">{{ i.election_name }}</option>
          {% endfor %}
      </select></td>
  </tr>
  <tr>
    <th scope="row">Title</th>
    <td><label for="textfield"></label>
      <input type="text" name="textfield" id="textfield" required class="form-control" /></td>
  </tr>
  <tr>
    <th scope="row">Content</th>
    <td><label for="textarea"></label>
      <textarea name="textarea" id="textarea" cols="45" rows="5" class="form-control"></textarea></td>
  </tr>
  <tr>
    <th colspan="2" align="center"><input type="submit" name="button" id="button" value="ADD" class="btn btn-light" /></th>
    </tr>
</table>
</form>
</body>
</html>
{% endblock %}