{% extends 'admin/adminindex.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">

<table class="table table-danger">
    <tr>
      <th scope="row">Name</th>
      <td><label for="textfield"></label>
      <input type="text" name="textfield" id="textfield" value="{{ data.name }}"class="form-control"  /></td>
    </tr>
    <tr>
      <th scope="row">Email</th>
      <td><label for="textfield2"></label>
      <input type="text" name="textfield2" id="textfield2 " value="{{ data.email }}" class="form-control" /></td>
    </tr>
    <tr>
      <th scope="row">Phone</th>
      <td><label for="textfield3"></label>
      <input type="text" name="textfield3" id="textfield3" value="{{ data.phone }}" class="form-control"/></td>
    </tr>
    <tr>
      <th scope="row">Course</th>
      <td><label for="select"></label>
        <select name="select" id="select" class="form-control">
             {% for i in data1 %}
 <option value="{{ i.course_id }}"{% if data.course_id== i.course_id  %}selected{% endif %}>{{ i.course_name }}</option>
          {% endfor %}
      </select></td>
    </tr>
    <tr>
      <th scope="row">Semester</th>
      <td><label for="select2"></label>
        <select name="select2" id="select2" class="form-control">
            <option value="semester 1"{% if data.semester=="semester 1" %}selected{% endif %}>semester 1</option>
            <option value="semester 2"{% if data.semester=="semester 2" %}selected{% endif %}>semester 2</option>
            <option value="semester 3"{% if data.semester=="semester 3" %}selected{% endif %}>semester 3</option>
            <option value="semester 4"{% if data.semester=="semester 4" %}selected{% endif %}>semester 4</option>
            <option value="semester 5"{% if data.semester=="semester 5" %}selected{% endif %}>semester 5</option>
      </select></td>
    </tr>
    <tr>
      <th scope="row">Batch</th>
      <td><label for="select3"></label>
        <select name="select3" id="select3" class="form-control">
           <option value="batch 2018"{% if data.batch=="batch 2018" %}selected{% endif %}>Batch 2018</option>
            <option value="batch 2019"{% if data.batch=="batch 2019" %}selected{% endif %}>Batch 2019</option>
            <option value="batch 2020"{% if data.batch=="batch 2020" %}selected{% endif %}>Batch 2020</option>
            <option value="batch 2021"{% if data.batch=="batch 2021" %}selected{% endif %}>Batch 2021</option>
            <option value="batch 2022"{% if data.batch=="batch 2022" %}selected{% endif %}>Batch 2022</option>
            <option value="batch 2023"{% if data.batch=="batch 2023" %}selected{% endif %}>Batch 2023</option>
      </select></td>
    </tr>
    <tr>
      <th colspan="2" align="center"><input type="submit" name="button" id="button" value="EDIT"  class="btn btn-light"/></th>
    </tr>
  </table>
</form>
</body>
</html>
{% endblock %}