{% extends 'admin/adminindex.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">

<table class="table table-danger">
    <tr>
      <th scope="col">Sl.No</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Course</th>
      <th scope="col">Semester</th>
      <th scope="col">Batch</th>
      <th scope="col">&nbsp;</th>
      <th scope="col">&nbsp;</th>
    </tr>
      {%  for i in data %}
    <tr>
      <td>{{ loop.index }}</td>
      <td>{{ i.name }}</td>
      <td>{{ i.email }}</td>
      <td>{{ i.phone }}</td>
      <td>{{ i.course_name }}</td>
      <td>{{ i.semester }}</td>
      <td>{{ i.batch }}</td>
      <td><a href="/edit_student/{{ i.student_id }}#a" class="btn btn-success">Edit</a></td>
      <td><a href="/delete_student/{{ i.student_id }}#a"class="btn btn-danger"onclick="return confirm('ARE YOU SURE TO DELETE')">Delete</a></td>
    </tr>
      {% endfor %}
  </table>
</form>
</body>
</html>
{% endblock %}