<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
</form>
<table width="200" border="1">

    <tr>
    <th scope="row"><a href="/view_profile">view profile</a></th>
  </tr>

  <tr>
    <th scope="row"><a href="/view_notifications">view notification</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/view_elections">view election</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/vote1">voting</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/view_live_results">result</a></th>
  </tr>
    <tr>
    <th scope="row"><a href="change_passwords">change password</a></th>
  </tr>
    <tr>
    <th scope="row"><a href="/logout">logout</a></th>
  </tr>

</table>
</body>
</html>
{% endblock %}