{% extends 'candidate/candidateindex.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table class="table table-danger">
    <tr>
      <th width="176"  scope="row">Name</th>
      <td width="94" >{{ data.name }}</td>
    </tr>
    <tr>
      <th scope="row">Email</th>
      <td>{{ data.email }}</td>
    </tr>
    <tr>
      <th scope="row">Phone</th>
      <td>{{ data.phone }}</td>
    </tr>
    <tr>
      <th scope="row">semester</th>
      <td>{{ data.semester }}</td>
    </tr>
    <tr>
      <th scope="row">party</th>
      <td>{{ data.party }}</td>
    </tr>
       <tr>
      <th scope="row">symbol</th>
      <td><img src="{{ data.symbol}}" width="100" height="100"></td>
    </tr>
    </tr>
  </table>
</form>
</body>
</html>
{% endblock %}